page-filter {
  .background{
    background-image: url(../assets/img/background2.png);
  }
  .button{
    text-transform: none;
    width:48%;
    color:white;
  }
  .segment{
    background-color: white;
  }
  .listHeader{
    color: grey;
    font-size: 14px;
  }
  .item{
    font-size:15px;
  }
}
